*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.text
{
    float: left;
    transform: translate(15%, 100%);
    position: absolute;
}
.product-small-img img
{
    height: 92px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: 0.6;
    float:left;

}
.product-small-img img:hover
{
    opacity: 1;
}
.product-small-img
{
    float:left;
    padding: 5px;

}
.product
{
    /* content: "";
    clear: both;
    display: table; */
    /* top: 40%; */
    /* left: 3.1%; */
    transform: translate(18%, 250%);
    /* float: left; */
    position: absolute;
}
.img-container img
{
    height: 250px;
}
.img-container
{
    float: left;
    padding: 60px;
    right: 100%;
}

/*Chatbot*/
.chat_icon{
    position: fixed;
    right: 20px;
    bottom:10px;
    font-size: 80px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}
.chat_box{
    position: fixed;
    right: 20px;
    bottom:90px;
    width: 400px;
    height: 80vh;
    background: #6E4EA8;
    z-index: 1000;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
}
.chat_box.active{
    transform: scaleY(1);
}
.hidden{
    display: none !important;
}
.conv-form-wrapper textarea{
    height: 30px;
    overflow: hidden;
    resize: none;
}
#messages{
    padding: 20px;
}
